@font-face {
    font-family: nimbus;
    src: url(./font/NimbusRomNo9L-RegIta.otf);
}


.homePage-backDesign {
    background: linear-gradient(rgba(88, 88, 88, 0), black), url(./images/russia_kremlin_red_square_winter_moscow_kremlin_hd_travel-1920x1080.jpg) center/cover no-repeat;
    width: 100%;
    height: 100vh;
    position: absolute;
}

.backImage {
    position: fixed;
}

.homePage-AllContent-div {
    width: 100%;
    height: 100vh;
    position: relative;
}

/* ________________________________________________________________________________ */
.ad-div {
    /* background-color: yellow; */
    /* background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.199)), url(./images/saint_basils_cathedral.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ad-div h1 {
    font-size: 40px;
    color: white;
}

.ad-div :nth-child(2) {
    font-size: 40px;
    color: rgb(203, 203, 203);
    font-family: nimbus;
}

.ad-div p {
    width: 50%;
    text-align: center;
    color: white;
}

.ad-div button {
    background-color: rgba(6, 195, 195, 0.704);
    color: white;
    width: 150px;
    height: 45px;
    text-align: center;
    border-radius: 5px;
    border: none;
}

.description-div {
    /* background-color: white; */
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-top: 10px inset rgba(225, 224, 224, 0.318);
    border-bottom: 10px inset rgba(225, 224, 224, 0.318); */
}

.description-div h1 {
    /* color: rgb(125, 125, 125); */
    color: white;
    font-size: 40px;
}

.description-div p {
    /* background: linear-gradient(to right, rgba(193, 166, 166, 0.011), rgba(241, 240, 240, 0.961), rgb(241, 240, 240, 0.961), rgba(83, 83, 143, 0.016)); */
    color: white;
    width: 50%;
    text-align: center;
}



/* Categories
________________________________________________________*/

.trip-categories-div {
    background-color: white;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 10px inset rgba(86, 84, 84, 0.298)
}

.adventure-div {
    /* background-color: wheat; */
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.adventure-div h1 {
    /* background-color: crimson; */
    color: grey;
}

.adventure-image-div {
    /* background-color: aqua; */
    height: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3px;
}

.adventure-image-div :nth-child(1) {
    width: 200px;
}

.adventure-image-div :nth-child(2) {
    width: 350px;
    /* grid-column: 1;
    grid-row: ; */
}

.adventure-image-div :nth-child(3) {
    width: 200px;
}

.adventure-image-div :nth-child(4) {
    width: 350px;
}



/* ------------------------------- */

.luxury-div {
    /* background-color: antiquewhite; */
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.luxury-div h1 {
    /* background-color: crimson; */
    color: grey;
}

.luxury-image-div {
    /* background-color: aqua; */
    height: 90%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 3px;
    justify-content: space-around;
}

.luxury-image-div :nth-child(1) {
    width: 200px;
}

.luxury-image-div :nth-child(2) {
    width: 300px;
}

.luxury-image-div :nth-child(3) {
    width: 250px;
}

.luxury-image-div :nth-child(4) {
    width: 300px;
}

/* ______________________________________________________________________________ */

.downloadApp-main-div {
    /* background-color: yellow; */
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-div {
    background-color: white;
    width: 72%;
    height: 70%;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.download-text-div {
    /* background-color: yellow; */
    width: 58%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download-text-div img {
    width: 50px;
}

.download-text-div h1 {
    animation: zoom 0.9s infinite ease-in-out;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale();
    }
}



.appStore-div {
    /* background-color: violet; */
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.appStore-div img {
    width: 150px;
}

.QR-div {
    width: 22%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.QR-div img {
    width: 120px;
}

/* _____________________________________________________________ */

.swiper-maindiv {
    background-color: rgba(70, 70, 70, 0.499);
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

.swiper-div {
    /* background-color: yellowgreen; */
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;


    animation: marquee 10s linear infinite;
}
.swiper-div img{
    width: 70%;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
