

.booking-headline-div {
    background-color: teal;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: start;
    align-items: center; 
}

.booking-headline-div h2{
    /* background-color: white; */
    color: white;
    margin-left: 25px;
}



.mybooking-contents-div {
    background-color: blue;
    width: 100%;
    height: 800px;
    
}

.Bookings-mainDiv {
    background-color: yellowgreen;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
   
}

.Bookings-mainDiv {
    text-align: center;
}

.myBookings-div {
    background-color: violet;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    gap: 20px;
    overflow-x: hidden;
}

.myBookings-div::-webkit-scrollbar {
    width: 0;
}

.myBookings-item-div {
    background-color: #463C46;
    width: 89%;
    height: 30%;
    display: flex;
    align-items: center;
    color: white;

    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.062);
}

.myBookings-item-image-div {
    /* background-color: tomato; */
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

.myBookings-item-image-div img {
    width: 150px;
}

.myBookings-place-details-div {
    /* background-color: burlywood; */
    width: 50%;
    height: 100%;
    text-align: center;
}

.myBookings-place-details-div :nth-child(3) {
    color: green;
}


.order-status-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pdfIcon{
    display: block;
    width: 25px;
    cursor: pointer;
}